<html>  
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="UTF-8">
    {{ $embed := resources.Get "css/embed.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $embed.Permalink }}">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <main>
      <section id="title">
        <h1>{{ .Title }}</h1>
      </section>
      <section id="content">
        {{ .Content }}
      </section>
      <div class="bl-section">
        <h4>Links to this note</h4>
        <div class="backlinks">
          {{ $re := printf "relref \"%s\"" .File.BaseFileName }}
          {{ range .Site.AllPages }}
          {{ if findRE $re .RawContent }}
          {{ $link := strings.TrimRight "page.html" .RelPermalink }}
          <a href="{{ $link }}">{{ .Title }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </main>
    <script type="text/javascript">
      window.MathJax.typeset();
    </script>
</body>
</html>
